{:paths ["src" "resources" "target/resources"]
 :deps {com.biffweb/biff    {:git/url "https://github.com/jacobobryant/biff", :git/sha "0e1e207df27acb1758ec3604eb56af50b7bb47ea"
                             :exclusions [com.xtdb/xtdb-core
                                          com.xtdb/xtdb-jdbc
                                          com.xtdb/xtdb-rocksdb
                                          org.postgresql/postgresql]}
        com.xtdb/xtdb-api   {:mvn/version "2.x-SNAPSHOT"}
        com.xtdb/xtdb-aws   {:mvn/version "2.x-SNAPSHOT"}
        com.xtdb/xtdb-core  {:mvn/version "2.x-SNAPSHOT"}
        com.zaxxer/HikariCP {:mvn/version "7.0.2"}
        cheshire/cheshire   {:mvn/version "6.1.0"}

        ;; Notes on logging: https://gist.github.com/jacobobryant/76b7a08a07d5ef2cc076b048d078f1f3
        org.slf4j/slf4j-simple     {:mvn/version "2.0.0-alpha5"}
        org.slf4j/log4j-over-slf4j {:mvn/version "1.7.36"}
        org.slf4j/jul-to-slf4j     {:mvn/version "1.7.36"}
        org.slf4j/jcl-over-slf4j   {:mvn/version "1.7.36"}
        michaelmrose/gesso {:local/root "../gesso"}
        }
 :aliases
 {:dev {:extra-deps {com.biffweb/tasks {:git/url "https://github.com/jacobobryant/biff", :git/sha "0e1e207df27acb1758ec3604eb56af50b7bb47ea", :deps/root "libs/tasks"}}
        :extra-paths ["dev" "test"]
        :jvm-opts ["--add-opens=java.base/java.nio=ALL-UNNAMED"
                   "-Dio.netty.tryReflectionSetAccessible=true"
                   "-XX:-OmitStackTraceInFastThrow"
                   "-XX:+CrashOnOutOfMemoryError"
                   "-Dbiff.env.BIFF_PROFILE=dev"]
        :main-opts ["-m" "com.biffweb.task-runner" "tasks/tasks"]}
  :prod {:jvm-opts ["--add-opens=java.base/java.nio=ALL-UNNAMED"
                   "-Dio.netty.tryReflectionSetAccessible=true"
                    "-XX:-OmitStackTraceInFastThrow"
                    "-XX:+CrashOnOutOfMemoryError"
                    "-Dbiff.env.BIFF_PROFILE=prod"]
         :main-opts ["-m" "gessotest"]}}
 :mvn/repos
 {"central"            {:url "https://repo1.maven.org/maven2/"}
  "clojars"            {:url "https://clojars.org/repo"}
  "sonatype-snapshots" {:url "https://central.sonatype.com/repository/maven-snapshots/"}}}
